{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="col-sm-10">
 <h3 class="text-white my-5">About Page</h3>
      <p>It was created in the fall of 2003 when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willson. Began using python to build applications. Two years later, in July of 2005, it was released to the public under a BSD license. Later, in June 2008, the fledgling Django Software Foundation(DSF) took over the development of Django.</p
      <p class="lead">Django (named after the Django Reinhardt) is a high-level python-based free and open-source web framework that follows the model-view-template(MVT) architectural pattern. As of now, the framework is maintained by Django Software Foundation (DSF), an independent organization based in the US and established as a 501(c)(3) non-benefit.

    </p>
    </div>
  </div>
</div> 

{% endblock content %}